@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.library-page {
  text-align: center;
  background-color: rgba(40,41,45,1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}
.library-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.library-container .ant-table {
  background-color: #1f1f1f;
  color: GRAY;
}

.library-container .ant-table-thead > tr > th {
  background-color: #1f1f1f;
  color: gray;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-size:150%;
}

.library-container .ant-table-tbody > tr > td {
  font-size:200%;
}

.song-card {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
.song-card:hover {
  transform: translateY(-0.5%);
}

.song-info button {
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    width:100%;
}

.delete-button {
  background-color:rgba(255, 0, 0, 1);
  padding-top:5%;
  padding-bottom:5%;
}

.spotify-button {
  background-color:#40ff00;
  padding-top:5%;
  padding-bottom:5%;
}